/home/ritika/Documents/PYTHON-STUFF/images
/home/ritika/Documents/PYTHON-STUFF/NOTEBOOKS/output.avi
/home/ritika/Documents/PYTHON-STUFF/NOTEBOOKS/sample.png
/home/ritika/Documents/PYTHON-STUFF/NOTEBOOKS/back.jpg
/home/ritika/Documents/PYTHON-STUFF/NOTEBOOKS/haarcascade_frontalface_default.xml